body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.h1{
    font-family: Impact;
    color: white;
    font-size: 200px;
    font-stretch: extra-expanded;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
}

h3{  font-family: Arial;
    color: white;
    font-size: 20px;
    font-stretch: extra-expanded;
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);

}
.round-button-container{
    position: center;
}
.round-button {
    display: inline-block;
    padding: 20px 20px;
    border-radius: 100px; /* Adjust the border-radius to make it round */
    background-color: orangered; /* Button color */
    color: white; /* Text color */
    text-decoration: none;
    font-family: "Agency FB";
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 20px;
}

.round-button:hover {
    background-color: white; /* Button color on hover */
    color: orangered; /* Text color */
}

.image-container {
    margin-top: 0%; /* Adjust as needed */

}
.image-container img{
    max-width: 100%; /* Make sure the image doesn't exceed its container */
    height: auto; /* Maintain the aspect ratio of the image */
}
